@import "./variable";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
span,
p {
  line-height: $line-height;
  margin: $margin/3;
} 

nav {
  margin: $margin/2;
  padding: $padding;
}

a {
  color: $dark-white;
  background-color: $dark-blue;
  padding: $padding/2;
  margin-left: $margin/2;
  list-style: none;
  text-decoration: none;
  border-radius: $border-radius;
  box-shadow: $shadow-radius/3 $shadow-radius/3 $shadow-stregth $gray;
}
a:hover {
  color: $white;
}

input,
input:focus-visible {
  border: unset;
  outline: none;
  margin: $margin/3;
  padding: $padding/2;
  border-radius: $border-radius;
  box-shadow: $shadow-radius/3 $shadow-radius/3 $shadow-stregth $gray;
}

button,
button:focus {
  border: unset;
  color: $white;
  margin: $margin/3;
  padding: $padding/2;
  background-color: $dark-blue;
  border-radius: $border-radius;
  box-shadow: $shadow-radius/3 $shadow-radius/3 $shadow-stregth $gray;
}

button:hover {
  background-color: $blue;
}
