@import "./variable";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: $primary-font;
}

nav {
  margin: $margin/2;
  padding: $padding;
}

h1,
h2 {
  margin: $margin/2;
}

h3,
span {
  margin: $margin/3;
}

p {
  margin: $margin/4;
}

a {
  color: $blue;
  background-color: $dark-blue;
  padding: $padding/2;
  margin: $margin/3;
  list-style: none;
  text-decoration: none;
  border-radius: $border-radius;
  box-shadow: $shadow-radius/3 $shadow-radius/3 $shadow-stregth $black;
}
a:hover {
  color: $white;
}

input,
input:focus-visible {
  border: unset;
  outline: none;
  margin: $margin/3;
  padding: $padding/2;
  border-radius: $border-radius;
  box-shadow: $shadow-radius/3 $shadow-radius/3 $shadow-stregth $black;
}

button,
button:focus {
  border: unset;
  color: $white;
  margin: $margin/3;
  padding: $padding/2;
  background-color: $dark-blue;
  border-radius: $border-radius;
  box-shadow: $shadow-radius/3 $shadow-radius/3 $shadow-stregth $black;
}

button:hover {
  background-color: $blue;
}
