@font-face {
  font-family: VNF Comic Sans;
  src: url(/src/assets/fonts/VNF-Comic-Sans.ttf);
}

$red: #bf616a;
$green: #a3be8c;
$yellow: #ebcb8b;
$dark-blue: #5e81ac;
$blue: #81a1c1;
$magenta: #b48ead;
$cyan: #88c0d0;
$white: #ECEFF4;
$dark-white: #d8dee9;
$black: #2e3440;
$gray: #3b4252;

$margin: 30px;
$padding: 15px;
$shadow-offset: 7.5px;
$blur-radius: 5px;
$spread-radius: 0;

$border: 2px;
$border-radius: 10px;

$primary-font: VNF Comic Sans;
$line-height: 150%;

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  xxl: 1320px
);