$red: #bf616a;
$green: #a3be8c;
$yellow: #ebcb8b;
$dark-blue: #5e81ac;
$blue: #81a1c1;
$magenta: #b48ead;
$cyan: #88c0d0;
$white: #e5e9f0;
$black: #3b4252;

$margin: 30px;
$padding: 15px;
$shadow-radius: 7.5px;
$shadow-stregth: 5px;
$border: 2px;
$border-radius: 10px;

$width: 800px;

$font-family: VNF Comic Sans;
