:root {
	/* top height total = 41 vh */
	--top-heigt: 11vh;
	--top-margin: 30vh;

	/* search height total = 15 vh */
	/* --search-height: 5vh; */

	/* bookmark height total = 54 vh */
	--bookmarks-height: 54vh;
	--bookmarks-width: 20vw;

	/* footer height total = 5 vh */
	--footer-height: 5vh;

	/*Total = 100vh */
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
	background: #2e3440;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	align-content: stretch;
	align-items: stretch;
}
/*--- Top ---*/
div#top {
	height: var(--top-heigt);
	margin-top: var(--top-margin);
	overflow: hidden;
}

h1 {
	color: #eceff4;
	text-align: center;
}

#top p {
	color: #eceff4;
	text-align: center;
}

/*--- Search ---*/
/* div#search {
	height: var(--search-height);
}

form {
	margin: 5vh;
}

input {
	text-align: left;
	background: #d8dee9;
	color: #3b4252;
	display: block;
	line-height: 20pt;
	border-radius: 15px;
	border: none;
	outline: none;
	box-shadow: 1px 1px 1px #3b4252;
	margin: auto;
	padding: 0 1.5vw;
}

input[type=search]:focus {
	border: none;
	outline: none;
} */

/*--- Main ---*/
div#bookmarks {
	display: flex;
	height: var(--bookmarks-height);
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-evenly;
	align-items: flex-start;
	overflow: hidden;
	align-content: flex-start;
}

.bookmarks {
	display: flex;
	margin: 1vh 1vw 5vh;
	padding: 0vh 2.5vw;
	width: calc(25% - 2vw);
	list-style-type: none;
	flex-direction: column;
	flex-wrap: wrap;
	align-content: flex-start;
	align-items: stretch;
}

ul p {
	color: #eceff4;
	width: max-content;
	/* text-align: center; */
}

li {
	transition: all 250ms ease-out;
}

li:first-of-type {
	margin-top: 5px;
}

li:hover {
	transform: translateX(2px);
}

a {
	display: block;
	font-style: italic;
	font-size: 90%;
	line-height: 150%;
	text-decoration: none;
	transition: all 250ms ease-out;
}

a:visited,
a:link {
	color: #5e81ac;
}

a:hover {
	color: #88c0d0;
}

/*--- Footer ---*/
div#footer {
	height: var(--footer-height);
	overflow: hidden;
}

div#footer p {
	color: #616e88;
	text-align: center;
}

/* Mobile after */
@media screen and (max-width: 1024px) {
	:root {
		--top-heigt: 15vh;
		--top-margin: 0vh;
		--bookmarks-height: 80vh;
		--bookmarks-width: 40vw;
		--footer-height: 5vh;
	}
	.bookmarks {
		padding: 0vh 10vw;
		width: calc(50% - 2vw);
	}
}
@media screen and (max-width: 320px) {
	:root {
		--top-heigt: 20vh;
		--top-margin: 0vh;
		--bookmarks-height: 100vh;
		--bookmarks-width: 80vw;
		--footer-height: 5vh;
	}
	div#bookmarks {
		display: block;
		overflow: unset;
	}
	.bookmarks {
		padding: 0vh 20vw;
		width: calc(100% - 2vw);
	}
	ul li,
	ul p {
		text-align: center;
	}
}

@media screen and (max-height: 300px) {
	:root {
		--top-heigt: 10vh;
		--top-margin: 0vh;
		--bookmarks-height: 85vh;
		--footer-height: 5vh;
	}
}
